@import "../../assets/colors.css";

.signin {
  background-color: var(--background-dark);
  height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  & p {
    color: var(--white);
    margin-bottom: 10px;
  }

  & a {
    text-decoration: none;
    color: var(--primary-yellow);
    text-transform: uppercase;
    margin-bottom: 20px;
  }
}

.title {
  color: var(--white);
  position: absolute;
  top: 40px;
}

.form-signin {
  border: 1px solid var(--primary-yellow);
  border-radius: 8px;
  width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  color: var(--white);
  margin-top: 20px;
  margin-bottom: 40px;
  text-transform: uppercase;
  font-weight: 400;
}

.input {
  position: relative;

  & label {
    position: absolute;
    color: var(--white);
    left: 10px;
    font-size: 16px;
  }

  & input {
    background-color: var(--background-light);
    margin: 10px 0;
    height: 50px;
    width: 300px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    padding: 0 10px;
    color: var(--white);
  }

  & input:focus {
    outline: 0;
  }

  & input:-webkit-autofill,
  & input:-webkit-autofill:focus {
    transition: background-color 0s 600000s, color 0s 600000s;
  }
}

.input:focus-within label {
  color: var(--primary-yellow);
}

.submit {
  background-color: var(--primary-yellow);
  border-radius: 8px;
  margin-top: 20px;
  margin-bottom: 40px;
  border: none;
  font-size: 20px;
  height: 50px;
  text-transform: uppercase;
  width: 300px;
  cursor: pointer;
}
