:root {
  --primary-blue: #a6eafe;
  --primary-yellow: #f2e09d;
  --primary-green: #cafba3;
  --primary-pink: #eb9adb;
  --background-dark: #222533;
  --background-light: #353742;
  --white: #ffffff;
}
